<div class="container">
  <div class="card mx-auto my-auto mt-5">
    <div class="card-header text-center">
      <h2>Welcome to the Notes App</h2>
    </div>
    <div class="card-body">
      
      <h5>If you are already registered please login otherwise if not please register</h5>
    </div>
  </div>

</div>