<div class="container">
  <div class="card col-md-7 mx-auto my-auto mt-5">
    <div class="card-body">
      <h4>Welcome to the Notes App</h4>
      <h6>If you are already registered please login otherwise if not please register</h6>
    </div>
  </div>

</div>