  <div class="comtainer mt-5">
    <div class="card rounded col-md-4 mx-auto">
      <div class="card-title rounded bg-primary text-white p-2">
        <h6>Sign In</h6>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group mb-2">
            <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter email address" autofocus> 
          </div>
          <div class="form-group mb-2">
            <input type="password" class="form-control  input-sm" placeholder="Enter password" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-success btn-sm col-md-12 small">Sign In</button>
        </form> 
      </div>
    </div>
  </div>