body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: #1488cc;  /* fallback for old browsers */
  
  
}
span.footer{
  margin-top: auto;
}

div.card {
  border-radius: 10px
}

a.btn, button.btn {
  border-radius: 5px;
}