  <div class="comtainer mt-5">
    <div class="card rounded col-md-4 mx-auto">
      <div class="card-header text-center">
        <h2>Login</h2>
      </div>
      <div class="card-body">
        <form action="/users/login" method="POST">
          <div class="form-group mb-2">
            <input type="email" class="form-control input-sm" name="email" placeholder="Enter email address" autofocus> 
          </div>
          <div class="form-group mb-2">
            <input type="password" class="form-control  input-sm" name="password" placeholder="Enter password" >
          </div>
          <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </form> 
      </div>
    </div>
  </div>